/* 整体容器样式 */
.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* 标题样式 */
h1 {
  color: #333;
}

/* 问题容器样式 */
#question-container {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* 提交按钮样式 */
#submit-btn {
  position: fixed;
  top: 30px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: block; /* 确保按钮是块级元素，如果不是的话 */
  margin: 0 auto; /* 水平居中 */
  title {
    font-size: 14px;
    color: #f20505;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
  }
}
/*
#submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}*/
#submit-btn:hover {
  background-color: #005bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 结果容器样式 */
#result-container {
  position: fixed;
  top: 60px;
  display: none;
  text-align: left;
  margin: 0px;
  color: black;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  z-index: 1000;
  will-change: left, top;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 600px; /* 最小宽度 300px */
  max-width: 540px;
  overflow: hidden;
}
#content {
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
}
#title-bar {
  background-color: #666;
  height: 30px;
  color: aliceblue;
  cursor: pointer;
  user-select: none; /* 防止文本被选中 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin: 0;
}
.question-group {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.question-group img {
  max-width: 40%; /* 设置图片最大宽度为原始大小的40% */
  height: auto;
  margin-bottom: 10px;
  display: block; /* 使图片成为块级元素 */
  margin-left: 0; /* 左对齐 */
}

.question {
  margin-bottom: 10px;
  font-size: 16px;
}

.question-number {
  font-weight: bold;
  margin-right: 10px;
}

.choices {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.choices li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.choices input[type="radio"] {
  order: -1; /* 将radio置于图片之前 */
  margin-right: 10px;
  accent-color: red;
  cursor: pointer;
}
.choices input[type="radio"]:hover {
  border-color: #f20505;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.choices img {
  width: 15%;
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 5px;
}

.explanation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.explanation-popup h3 {
  margin-top: 0;
}

.explanation-popup button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.answer-input {
  color: #007bff;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: red;
}

.reminder {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff8dc; /* 淡黄色背景 */
  padding: 20px;
  z-index: 1000;
  color: darkred;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(4, 133, 24); /* 红色边框 */
}

hr {
  border: none; /* 移除默认的边框样式 */
  height: 1px; /* 设置高度 */
  background-color: gray; /* 设置背景颜色来模拟分割线 */
  margin: 20px 0; /* 设置上下边距 */
}
